html {
    color: #fff;
    scroll-behavior: smooth;
}
body {
    background-color: #282828;
    font-family: 'Poppins', sans-serif;
    margin: 0   auto;
    max-width:70rem;
    background:linear-gradient(150deg,#000000, #9e00ff);
    background-size: 120% 120%;
    
}
.cabecalho {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;

}

.cabecalho .logo {
    width: 4.0625rem;
    height: 4.0625rem;
     border: 2px solid #fff;
     border-radius: 50%;
     text-decoration: underline;
     text-align: center;
     line-height: 3.4375rem;
     font-family: "Raleway",sans-serif;
     transition: .3s;
}
 a:hover .logo {
color: #9443d8;
border: 2px solid #9443d8;
}
.cabecalho .menu li a {
font-size: 1.25rem;
text-transform: capitalize;
padding: .625rem 1.25rem;
transition: .3s;

}
.cabecalho .menu li a:hover {
    background-color: #9443d8;
    border-radius: 3.125rem;
}
.home {
   
    display:flex;
    min-height:calc(100vh - 7.8125rem);
   align-items: center;
   gap:3.125rem;
   justify-content:space-between;
}

.home .info{
    
    display:flex;
    gap:.9375rem;
    flex-direction: column;
    letter-spacing:.125rem;
    padding: 0 .9375rem;
    max-width:50%;
    
}

.home .info h1 { 
    font-family: "Raleway", sans-serif;
    font-size: 2.8125rem
    margin-bottom:1.25rem;
}

.home .info p { 
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    margin-bottom:1.5rem;
    margin:bottom:.625rem;
}
.home  .redes {
    display:flex;
    
    gap:1.25rem;
}
svg {
    height: 1.625rem;
    
}

.home .redes a svg{
    border:1px solid #fff;
    border-radius: 50%;
    width:3.125rem;
    height:3.125rem;
    padding:.625rem;
    text-align:center;
    transition: .3s;
    font-size:1.625rem;

 }
 .home .redes a svg:hover {
    transform:scale(1.1);
 }
 img.photo {
    height: 16.25rem;
    
 }
 .home .container .foto {
   
    max-width:28.125rem;
   

 }
 .home .container .foto img {
   width: 16.250rem;;
    border-radius: 50%;
    background:linear-gradient(to right, #8a35c8, #18c063, #00eea2);
    background-size: 180% 180%;
    animation:gradient-animation 5s ease infinite;
 }
 .projetos {
    
    padding:4.375rem 0 4.375rem;

 }
 .projetos .titulo {
    text-align:center;
    padding:3.75rem 0;
    font-size:2.8125rem;
    font-weight:500;
    text-transform:uppercase;


 }
 .projetos .container { 
    
    display: flex;
    flex-wrap: wrap;
    gap:1.25rem;
    margin-bottom:1.25rem;
    justify-content: center;

 }
 .projetos .projeto {
    max-width:16.25rem;
    max-height:31.25rem;
    position:relative;
    display: none;
 }
 .projetos .projeto.ativo {
    display: block;
 }
 .projetos .projeto img {
    height: 100%;
   
 }
 .projetos .projeto h3 {
    background-color: #040203;
    width: 100%;
    padding-left:1.25rem;
    padding-bottom:.625rem;
    padding-top:.625rem;
    position: absolute;
    bottom:0;
 }

 .projetos .projeto .informaçoes-projeto {
    background:#040203;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-weight: 600;
    transition:.3s;
    padding:1.25rem;

 }
 .projetos .projeto:hover .informaçoes-projeto {
    opacity: 0.7;
    background-color: #000;
 }
 .projetos .btn {
    background:none;
    border:1px solid #fff;
    border-radius: .9375rem;
    color: #fff;
    width: 11.25rem;
    padding: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

 }
 .projetos .btn:hover {
    background-color: #9443d8;
    border:1px solid #9443d8;
    transition:.3s;
 }
 .projetos .btn.remover {
    display: none;
 }
 @keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
 }
